/*==========  Mobile First Method  ==========*/

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width: 767px) {
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .jumbotron {
    padding-top: 30px;
  }
  .jumbotron h1 {
    font-size: 42px;
  }
  .jumbotron p {
    font-size: 18px;
  }
  #dash-body {
    padding-top: 52px; /* for top nav */
  }
  .navbar-nav {
    float: right;
  }
  .navbar-brand {
    display: none;
  }
  .jumbotron #header, .jumbotron hr {
    display: block;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .jumbotron h1 {
    font-size: 56px;
  }
  .jumbotron p {
    font-size: 21px;
  }
  .navbar-nav>li {
    margin-right: 25px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}