/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width: 767px) {
  #artists .col-xs-6 {
    width: 33.33333%;
  }
  #artists .artist-row:nth-child(2n+1) {
    clear: none;
  }
  #artists .artist-row:nth-child(3n+1) {
    clear: both;
  }
  #artist-detail .artist-img {
    width: 150px;
  }
  #media .col-xs-12 {
    width: 50%;
  }
  #media .media-row:nth-child(2n+1) {
    clear: both;
  }
  #media .img-responsive {
    width: 100%;
  }
  #media-detail .img-responsive {
    max-width: 250px;
  }
  #home .feat-img {
    width: 60%;
  }
  .video-row.col-md-8 {
    /*width: 80%;*/
    width: 475px;
  }
  .audiojs {
    width: 445px;
  }
  .audiojs .scrubber {
      width: 284px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .jumbotron {
    padding-top: 30px;
  }
  .jumbotron h1 {
    font-size: 41px;
  }
  .jumbotron p {
    font-size: 18px;
  }
  #page-content {
    padding-top: 52px; /* for top nav */
  }
  .navbar-nav {
    float: right;
  }
  .navbar-nav>li {
    margin-right: 12px;
  }
  .navbar-brand {
    display: none;
  }
  .jumbotron #header, .jumbotron hr {
    display: block;
  }
  #media .media-row:nth-child(2n+1) {
    clear: both;
  }
  #media .img-responsive, 
  #sheet-music .img-responsive {
    width: 100%;
  }
  .video-row {
    padding-right: 10px;
  }
  .audiojs {
    width: 475px;
  }
  .audiojs .scrubber {
      width: 317px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .jumbotron h1 {
    font-size: 56px;
  }
  .jumbotron p {
    font-size: 21px;
  }
  .navbar-nav>li {
    margin-right: 24px;
  }
  #artists .artist-row:nth-child(2n+1) {
    clear: none;
  }
  #artists .artist-row:nth-child(3n+1) {
    clear: both;
  }
  #artist-detail .artist-img {
    width: 150px;
  }
  #media .media-row:nth-child(2n+1) {
    clear: none;
  }
  #media .media-row:nth-child(3n+1) {
    clear: both;
  }
  #sheet-music .search-music {
    float: right;
  }
  .audiojs {
    width: 453px;
  }
  .audiojs .scrubber {
    width: 292px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .navbar-nav>li {
    margin-right: 50px;
  }
  #artists .artist-row:nth-child(3n+1) {
    clear: none;
  }
  #artists .artist-row:nth-child(4n+1) {
    clear: both;
  }
  #media .media-row:nth-child(3n+1) {
    clear: none;
  }
  #media .media-row:nth-child(4n+1) {
    clear: both;
  }
  #music-detail .video-row, 
  #media-detail .video-row {
    padding-right: 5px;
  }
  .audiojs {
    width: 442px;
  }
  .audiojs .scrubber {
      width: 280px;
  }
}