/* custom styles */

/* ======================== header ====================== */
.jumbotron {
  background-color: #502256;
  padding: 0 15px;
  margin: 0;
}
.jumbotron #header {
  display: none;
}
img.logo {
  float: left;
  width:100px;
  height:100px;
  margin: 10px 20px 8px 25px;
}
.jumbotron h1, .jumbotron p {
  margin-left: 145px;
}

.jumbotron h1 {
  font-family: papyrus, "Times New Roman", Times, serif;
  font-weight: bolder;
  color: #fff;
  text-shadow: .07em .07em .05em grey;
}
.jumbotron p {
  font-family: arial;
  font-style: italic;
  font-size: 16px;
  color: #bdbdbd;
}
.jumbotron hr {
  display: none;
  margin: 8px 0 0;
}
.jumbotron>hr {
  border-top-color: #939393;
}

/* ======================== top nav ====================== */

#menus {
  position: absolute;
  z-index: 1000;
  width: 100%;
}
.sticky {
  position: fixed;
}
.unsticky {
  position: absolute;
}
#top-nav {
  background-color: #502256;
  z-index: 1000;
  top: 0;
  width: 100%;
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  padding: 15px 5px;
}
.navbar-inverse {
  background-color: inherit;
  border-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: inherit;
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-brand, 
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
}

/* ==================== sidebar menu =================== */

/* Toggle Styles */
#menu-toggle {
  position: absolute;
  top: 52px;
  z-index: 500;
  margin-left: 10px;
}
.wrapper, #menus {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  top: 52px;
  left: 0;
  width: 0;
  overflow-y: auto;
  background: #285622;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#menus.toggled #sidebar-wrapper {
  width: 250px;
}

/* Sidebar Styles */
.sidebar-nav {
  width: 250px;
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 60px;
  font-size: 18px;
  line-height: 60px;
  background-color: #336D2B;
}
.sidebar-nav > .sidebar-brand a {
  color: #e5e5e5;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #e5e5e5;
  background: none;
}

@media(min-width:768px) {

    .wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    .wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    .page-content-wrapper {
        padding-left: 260px;
    }
    #menu-toggle {
        display: none;
    }
    #footer {
        padding-left: 250px;
    }
}

/* styles added for submenus */
#sidebar-wrapper ul ul {
  display: none;
}
.sidebar-nav ul {
  list-style-type: none;
}
.sidebar-nav li a {
  position: relative;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 26px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
li.open {
  background-color: #2A5A24;
}

/* ======================== footer ====================== */
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* background-color: #502256; */
}
p#copy {
  margin: 20px 0;
  font-size: .80em;
  line-height: 1.4em;
  color: #999999;
  text-align: center;
}
#copy a {
  color: #696;
}
#copy a:hover {
  color: #6C6;
}

/* ==================== page content ====================== */
.page-content-wrapper {
  min-width: 300px;
  position: relative;
  padding-bottom: 100px; /* for footer */
}
#page-content {
  padding-top: 80px; /* for top nav and button */
}
#page-content a {
  color: #696;
}
#page-content a:hover {
  color: #6C6;
}
.img-responsive {
  width: 100%;
  box-shadow: 3px 3px 2px;
}
.search {
  margin-top: 10px;
  margin-bottom: 20px;
}
.search span,
.search-music span {
  font-size: 1.1em;
  color: #696;
}
.empty-search {
  color: #999999;
  font-size: 1.1em;
}
.info-tab {
  max-height: 2000px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  overflow: hidden;
}
.info-tab.display {
    max-height: 0;
}

/* ===================== media ======================== */
#media .nav a {
  font-size: 30px;
  color: #333;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;;
}
#media .img-responsive {
  width: 60%;
}
#media .media-list {
  padding: 14px;
}
#media .media-desc {
  margin-top: 15px;
}
#media-detail {
  padding-top: 16px;
}
#media-detail .media-info {
  margin-top: 20px;
}

/* ===================== artists ======================== */
#artists .artist-list {
  font-size: 1.2em;
}
#artists .artist-list a {
  color: #999999;
}
#artist-detail .artist-img {
  width: 120px;
  height: 120px;
  box-shadow: 3px 3px 2px;
  margin-right: 15px;
}
#artists .artist-row:nth-child(2n+1) {
  clear: both;
}

/* ===================== rentals ======================== */
#rentals .table-responsive {
  margin-top: 40px;
}

/* ===================== contact ======================== 
#contact {
  font-family: UbuntuBold, Geneva, sans-serif;
}
#contact h1 {
  font-family: UbuntuBold, Geneva, sans-serif;
  font-size: 1.9em;
  font-weight: 900;
  margin: 24px 0px;
}
#contact h2 {
  font-family: UbuntuBold, Geneva, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 14px;
}
#contact p {
  font-family: UbuntuRegular, Geneva, sans-serif;
  font-weight: normal;
  font-size: .9em;
  line-height: 1.4em;
} */

#contact h2 {
  font-size: 20px;
}
#address {
  margin-bottom: 60px;
}
#email-signup {
  background-color: #F5F5F5;
  border-color: #DCDCDC;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#email-signup .form-control {
  max-width: 450px;
}
#email-signup .input-wrapper {
  padding: 0 15px;
}
#email-signup .form-group label {
  margin-left: 15px;
}
#email-signup .form-group button {
  margin-top: 10px;
}
#email-signup .panel-heading {
  background-color: #E8E8E8;
  border-color: #DCDCDC;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* ===================== sheet music ======================== */
#sheet-music .img-responsive {
  width: 40%;
}
#sheet-music h1 {
  margin-bottom: 20px;
}
#sheet-music .music-row:last-of-type hr {
  display: none;
}
#sheet-music .music-row hr {
  border-color: #cdcdcd;
}
#sheet-music .music-row .sub-title {
  font-size: 16px;
}
#sheet-music .music-desc form {
  margin-top: 5px;
}
#sheet-music .search-music {
  /*float: right;*/
  margin-bottom: 18px;
}
#sheet-music .search-music button {
  padding: 2px 12px;
}
#sheet-music .clear {
  clear: both;
}