AuthType Basic  
AuthName "Restricted area"  
AuthUserFile /home/www/montgomeryhatch.com/.htpasswd
#AuthUserFile /home/content/a/n/d/andybeall/html/.htpasswd
Require valid-user

RewriteEngine On
RewriteBase /bachovich/admin/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.html [L]