<div id="artists">

  <h2>Composers, Arrangers, &amp; Recording Artists</h2>

  <!-- search artists -->
  <div class="clearfix">
    <div class="search">
      <input type="text" ng-model="search_input" placeholder="Search Artists" />
    </div>
    <hr>
  </div>

  <!-- Artist list -->
  <div class="row">
    <div class="artist-row" ng-repeat="artist in results = (artists | search_artists: search_input | orderBy: 'lname')">
      <div class="artist-list col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <a ng-href="artist/{{ artist.artist_id }}">
          {{ artist.lname }}
          <span ng-if="artist.fname">{{  ', ' + artist.fname }}</span>
        </a>
      </div>
    </div>
  </div>

  <!-- return message if no search results found -->
  <div ng-if="search_input">
    <p class="empty-search" ng-if="!results.length"><em>No Artists found.</em></p>
  </div>

</div>