<div id="artists">

  <h2>Composers, Arrangers, &amp; Recording Artists</h2>

  <!-- search artists -->
  <div class="clearfix">
    <div class="search">
      <span>Search Artists:&nbsp;</span>
      <input type="text" ng-model="search_input" />
    </div>
    <hr>
  </div>

  <!-- Artist list -->
  <div class="row">
    <div class="artist-row" ng-repeat="artist in artists | search_artists: search_input | orderBy: 'lname'">
      <div class="artist-list col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <a ng-href="artist/{{ artist.artist_id }}">
          <span ng-if="artist.fname">{{ artist.fname }}&nbsp;</span>
          {{ artist.lname }}
        </a>
      </div>
    </div>
  </div>

</div>