<div id="home">

  <div ng-include="'shared/search_music.html'"></div>

  <!-- featured composition -->
  <div class="featured">
    <h2>Featured Composition</h2>
  </div>

  <div class="featured-content">
    <div class="row">
      <div class="feat-img col-sm-5 col-lg-4" ng-if="feat_comp.img">
        <a class="product-link" ng-href="music/{{ feat_comp.music_id }}">
          <img class="img-responsive" ng-src="assets/images/sheetmusic/{{ feat_comp.img }}" />
        </a>
      </div>
      <div class="col-sm-7 col-lg-8">
        <a class="product-link" ng-href="music/{{ feat_comp.music_id }}">
          <h3><em>{{ feat_comp.title }}</em></h3>
        </a>
        <h4>By&nbsp;{{ feat_comp.fname + ' ' + feat_comp.lname }}</h4>
        <h4>{{ '$' + feat_comp.price + ' - #' + feat_comp.music_id }}</h4>
        <!-- PayPal button -->
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    
          <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          
          <input type="hidden" name="add" value="1">
          <input type="hidden" name="cmd" value="_cart">
          <input type="hidden" name="business" value="orders@bachovich.com">
          <input type="hidden" name="no_shipping" value="2">
          <input type="hidden" name="no_note" value="1">
          <input type="hidden" name="currency_code" value="USD">
          <input type="hidden" name="lc" value="US">
          <input type="hidden" name="bn" value="PP-ShopCartBF">
          <input type="hidden" name="charset" value="utf-8">
          
          <!-- dynamically genereated values -->
          <input type="hidden" name="item_name" ng-value="'#' + feat_comp.music_id + ' - ' + feat_comp.fname + ' ' + feat_comp.lname + ': ' + feat_comp.title">
          <input type="hidden" name="item_number" ng-value="feat_comp.music_id"> 
          <input type="hidden" name="amount" ng-value="feat_comp.price">
          <input type="hidden" name="shipping" ng-value="feat_comp.shipping">
          
        </form>
      </div>
    </div>

    <div class="row feat-info">
      <div class="col-sm-12">
        <div ng-bind-html="renderHtml(feat_comp.description)"></div>
      </div>
    </div>

    <!--  Audio/Video -->
    <div class="row description-links" ng-if="feat_comp.audio_video">

      <!-- audio links -->
      <div class="row">
        <div class="audio-player col-lg-6" ng-repeat="audio in feat_comp.audio_video | filter: {type: 'audio'} | orderBy: 'track'">
          <span><em>{{audio.audio_title}}</em></span>
          <audio src="" dynamic-url dynamic-url-src="{{audio.audio_file}}" preload="auto" />
        </div>
      </div>

      <!-- video links -->
      <div class="video-row col-md-8 col-lg-6" ng-repeat="video in feat_comp.audio_video | filter: {type: 'video'} | orderBy: 'track' | limitTo: 1">
        <div class="video-container">
          <iframe ng-src="{{ video.video_embed | trustAsResourceUrl }}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

    </div><!-- end .row -->
  </div>

  <!-- featured book -->
  <div class="featured">
    <h2>Featured Book</h2>
  </div>

  <div class="featured-content">
    <div class="row">
      <div class="feat-img col-sm-5 col-lg-4" ng-if="feat_book.img">
        <a class="product-link" ng-href="music/{{ feat_book.music_id }}">
          <img class="img-responsive" ng-src="assets/images/sheetmusic/{{ feat_book.img }}" />
        </a>
      </div>
      <div class="col-sm-7 col-lg-8">
        <a class="product-link" ng-href="music/{{ feat_book.music_id }}">
          <h3><em>{{ feat_book.title }}</em></h3>
        </a>
        <h4>By&nbsp;{{ feat_book.fname + ' ' + feat_book.lname }}</h4>
        <h4>{{ '$' + feat_book.price + ' - #' + feat_book.music_id }}</h4>
        <!-- PayPal button -->
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    
          <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          
          <input type="hidden" name="add" value="1">
          <input type="hidden" name="cmd" value="_cart">
          <input type="hidden" name="business" value="orders@bachovich.com">
          <input type="hidden" name="no_shipping" value="2">
          <input type="hidden" name="no_note" value="1">
          <input type="hidden" name="currency_code" value="USD">
          <input type="hidden" name="lc" value="US">
          <input type="hidden" name="bn" value="PP-ShopCartBF">
          <input type="hidden" name="charset" value="utf-8">
          
          <!-- dynamically genereated values -->
          <input type="hidden" name="item_name" ng-value="'#' + feat_book.music_id + ' - ' + feat_book.fname + ' ' + feat_book.lname + ': ' + feat_book.title">
          <input type="hidden" name="item_number" ng-value="feat_book.music_id"> 
          <input type="hidden" name="amount" ng-value="feat_book.price">
          <input type="hidden" name="shipping" ng-value="feat_book.shipping">
          
        </form>
      </div>
    </div>

    <div class="row feat-info" ng-if="feat_book.description">
      <div class="col-sm-12">
        <div ng-bind-html="renderHtml(feat_book.description)"></div>
      </div>
    </div>

    <!--  Audio/Video -->
    <div class="row description-links" ng-if="feat_book.audio_video">

      <!-- audio links -->
      <div class="row">
        <div class="audio-player col-lg-6" ng-repeat="audio in feat_book.audio_video | filter: {type: 'audio'} | orderBy: 'track'">
          <span><em>{{audio.audio_title}}</em></span>
          <audio src="" dynamic-url dynamic-url-src="{{audio.audio_file}}" preload="auto" />
        </div>
      </div>

      <!-- video links -->
      <div class="video-row col-md-8 col-lg-6" ng-repeat="video in feat_book.audio_video | filter: {type: 'video'} | orderBy: 'track' | limitTo: 1">
        <div class="video-container">
          <iframe ng-src="{{ video.video_embed | trustAsResourceUrl }}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

    </div><!-- end .row -->
  </div>

  <!-- Featured Video -->
  <div class="featured">
    <h2>Featured Video</h2>
  </div>

  <div class="featured-content">

    <!--  Audio/Video -->
    <div class="row description-links">
      <div class="video-row col-md-8 col-lg-6">
        <div class="video-container">
          <iframe ng-src="{{ feat_video.video_embed | trustAsResourceUrl }}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="row feat-info">
      <div class="col-sm-12">
        <div ng-bind-html="renderHtml(feat_video.featured_video_description)"></div>
      </div>
    </div>

    <!-- Product info -->
    <div class="row feat-works">
      <div class="col-sm-12">
        <h3>View the sheet music</h3>
          <a class="product-link" ng-href="music/{{ feat_video.product.music_id }}">
            <h4><em>{{ feat_video.product.title }}</em></h4>
          </a>
          <h5>By&nbsp;{{ feat_video.product.fname + ' ' + feat_video.product.lname }}</h5>
          <h5>{{ '$' + feat_video.product.price + ' - #' + feat_video.product.music_id }}</h5>
          <!-- PayPal button -->
          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      
            <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but22.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="orders@bachovich.com">
            <input type="hidden" name="no_shipping" value="2">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="bn" value="PP-ShopCartBF">
            <input type="hidden" name="charset" value="utf-8">
            
            <!-- dynamically genereated values -->
            <input type="hidden" name="item_name" ng-value="'#' + feat_video.product.music_id + ' - ' + feat_video.product.fname + ' ' + feat_video.product.lname + ': ' + feat_video.product.title">
            <input type="hidden" name="item_number" ng-value="feat_video.product.music_id"> 
            <input type="hidden" name="amount" ng-value="feat_video.product.price">
            <input type="hidden" name="shipping" ng-value="feat_video.product.shipping">
            
          </form>
      </div>
    </div>

  </div>

  <!-- featured composer -->
  <div class="featured">
    <h2>Featured Composer</h2>
  </div>

  <div class="featured-content">
    <div class="row">
      <div class="feat-img col-sm-5 col-lg-4" ng-if="feat_artist.img">
        <a class="product-link" ng-href="artist/{{ feat_artist.artist_id }}">
          <img class="img-responsive" ng-src="assets/images/artists/{{ feat_artist.img }}" />
        </a>
      </div>
      <div class="col-sm-7 col-lg-8">
        <a class="product-link" ng-href="artist/{{ feat_artist.artist_id }}">
          <h3>{{ feat_artist.fname + ' ' + feat_artist.lname }}</h3>
        </a>
      </div>
    </div>

    <div class="row feat-info">
      <div class="col-sm-12">
        <div ng-bind-html="renderHtml(feat_artist.bio)"></div>
      </div>
    </div>

    <div class="row feat-works" ng-if="(feat_artist.works).length">
      <div class="col-sm-12">
        <h4>Works at Bachovich</h4>
        <ul class="list-unstyled">
          <li ng-repeat="work in feat_artist.works | orderBy: 'title'">
            <a ng-href="music/{{ work.music_id }}"><em>{{ work.title }}</em></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script>
    audiojs.events.ready(function() {
      setTimeout(function(){
        var as = audiojs.createAll();
      }, 1000);
    });
  </script>

</div>