<div id="artist-add">
  
  <h2 class="form-title">Add Artist</h2>

  <p class="required">* Required</p>

  <form ng-submit="submit()">

    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control input-med" id="fname" placeholder="Enter first name" ng-model="formData.fname">
    </div>

    <div class="form-group">
      <label for="lname">Last Name</label>
      <span class="required">&nbsp;*</span>
      <input type="text" class="form-control input-med" id="lname" placeholder="Enter last name" ng-model="formData.lname" required>
    </div>

    <div class="form-group">
      <label for="bio">Bio</label>
      <textarea class="form-control" rows="10" placeholder="Enter bio" id="bio" ng-model="formData.bio" ui-tinymce="tinymceOptions" ng-change="addArtistCtrl.updateHtml()"></textarea>
    </div>
<!--
    <script type="text/javascript">
      tinymce.init({
          selector: "#bio"
      });
    </script>-->
    
    <div class="form-group">
      <iframe src="views/artist-img.html" class="uploads"></iframe>
    </div>

    <div class="form-group">
      <label for="img-name">Image Name</label>
      <input type="text" class="form-control input-med" id="img-name" placeholder="Enter image file name (example: sample.jpg)" ng-model="formData.img">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>

  <div>{{ message }}</div>
  <!--
  <pre>
    {{ formData }}
  </pre>
  -->
</div>