<div id="music-edit">
  
  <h2 class="form-title">Edit Sheet Music</h2>

  <p class="required">* Required</p>

  <form ng-submit="submit()">

    <div class="form-group">
      <label for="music_id">Music ID:</label>
      <span id="music_id" class="record-id">{{ music.music_id }}</span>
    </div>

    <div class="form-group">
      <label for="artist_id">Artist ID</label>
      <span class="required">&nbsp;*</span>
      <input type="text" class="form-control input-short" id="artist_id" placeholder="Enter artist id" ng-model="formData.artist_id" pattern="^[0-9]+$" title="must be a number" required>
    </div>

    <div class="form-group">
      <label for="composer">Composer&nbsp;<em>(optional... for arranged works)</em></label>
      <input type="text" class="form-control input-med" id="composer" placeholder="Enter composer" ng-model="formData.composer">
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control input-short" id="type" ng-model="formData.type">
        <option ng-selected="formData.type == null">Select</option>
        <option value="solo">Solos</option>
        <option value="duet">Duets</option>
        <option value="trio">Trios</option>
        <option value="quartet">Quartets</option>
        <option value="ensemble">Percussion Ensemble</option>
        <option value="steelband">Steel Band</option>
        <option value="orchestra">Orchestra</option>
        <option value="band">Concert Band</option>
        <option value="mixed">Mixed Ensemble</option>
        <option value="book">Method Books</option>
        <option value="strings">Strings</option>
        <option value="choral">Choral</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sub_type1">Sub-type 1</label>
      <select class="form-control input-short" id="sub_type1" ng-model="formData.sub_type1">
        <option ng-selected="formData.type == null">Select</option>
        <option value="marimba">Marimba</option>
        <option value="marimba/vibes">Marimba/Vibes</option>
        <option value="xylophone">Xylophone</option>
        <option value="gyil">Gyil</option>
        <option value="hand drum">Hand Drum</option>
        <option value="vibes">Vibes</option>
        <option value="timpani">Timpani</option>
        <option value="drumset">Drum Set</option>
        <option value="multi">Multi-Percussion</option>
        <option value="snare">Snare Drum</option>
        <option value="pan">Steel Pan</option>
        <option value="mallets">Mallets(books)</option>
        <option value="world">World(books)</option>
        <option value="general">General(books)</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sub_type2">Sub-type 2</label>
      <select class="form-control input-short" id="sub_type2" ng-model="formData.sub_type2">
        <option ng-selected="formData.type == null">Select</option>
        <option value="harp">Harp</option>
        <option value="marimba">Marimba</option>
        <option value="vibes">Vibes</option>
        <option value="strings">Strings</option>
        <option value="guitar">Guitar</option>
        <option value="voice">Voice</option>
        <option value="timpani">Timpani</option>
        <option value="perc">Percussion</option>
        <option value="piano">Piano</option>
        <option value="woodwinds">Woodwinds</option>
      </select>
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <span class="required">&nbsp;*</span>
      <input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="formData.title" required>
    </div>

    <div class="form-group">
      <label for="duration">Duration</label>
      <input type="text" class="form-control input-short" id="duration" placeholder="Enter duration" ng-model="formData.duration">
    </div>

    <div class="form-group">
      <label for="contents">Contents</label>
      <input type="text" class="form-control" id="contents" placeholder="Enter contents" ng-model="formData.contents">
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="10" placeholder="Enter description" id="description" ng-model="formData.description" ui-tinymce="tinymceOptions" ng-change="editMusicCtrl.updateHtml()"></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <span class="required">&nbsp;*</span>
      <input type="text" class="form-control input-short" id="price" placeholder="Enter price" ng-model="formData.price" pattern="^[0-9]+(\.)?(\d{2})*$" title="must be a monetary number value (no dollar sign or commas)" required>
    </div>
    <!--
    <div class="form-group">
      <label for="shipping">Shipping</label>
      <input type="text" class="form-control input-short" id="shipping" placeholder="Enter shipping" ng-model="formData.shipping">
    </div>
    -->
    <div class="form-group">
      <iframe src="views/music-img.html" class="uploads"></iframe>
    </div>

    <div class="form-group">
      <label for="img-name">Image Name</label>
      <input type="text" class="form-control input-med" id="img-name" placeholder="Enter image file name (example: sample.jpg)" ng-model="formData.img">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>

  <div>{{ message }}</div>
  <!--
  <pre>
    {{ formData }}
  </pre>
  -->
</div>