<div id="sheetmusic">

  <h1>Sheet Music</h1>

  <div class="dash-btn">
    <a href="sheetmusic/add" class="btn btn-primary" role="button">Add Sheet Music</a>
  </div>

  <!-- medias table -->
  <div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
      <tr>
        <th>ID</th>
        <th>Artist/Composer</th>
        <th>Type</th>
        <th>Sub-type 1</th>
        <th style="min-width: 88px;">Sub-type 2</th>
        <th>Title</th>
        <th>Duration</th>
        <th>Contents</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <!--<th>Shipping</th>-->
        <th></th>
        <th></th>
      </tr>
      <!-- data -->
      <tr ng-repeat="music in musics | orderBy: 'music_id'">
        <td>&#35;{{music.music_id}}</td>
        <td>
          <span ng-if="music.composer">{{music.composer}}&#47;</span>
          {{music.lname}},&nbsp;{{music.fname}}
        </td>
        <td>{{music.type}}</td>
        <td>{{music.sub_type1}}</td>
        <td>{{music.sub_type2}}</td>
        <td><em>{{music.title}}</em></td>
        <td>
          <span ng-if="music.duration">[{{music.duration}}]</span>
        </td>
        <td>{{music.contents}}</td>
        <td>{{music.description}}</td>
        <td>{{'$' + music.price}}</td>
        <td>{{music.img}}</td>
        <!--<td><span ng-if="music.shipping">{{'$' + music.shipping}}</span></td>-->
        <td><a ng-href="sheetmusic/{{ music.music_id }}">Edit</a></td>
        <td><a href ng-click="delete(music.music_id)">Delete</a></td>
      </tr>
    </table>
  </div>

</div>